// History

.histories {
  position: relative;
  border-radius: $pane-radius;
  transition: var(--xen-mode-transition);
  animation: fade-in 0.15s ease-in-out;

  .rows {
    display: grid;
    grid-auto-rows: min-content;
    padding: 0.1em 0;

    >.history {
      margin: 0 2px;

      &:hover>.icon-x {
        display: var(--show-delete-history, none);
      }

      &.selected {
        >.icon-x {
          display: none;
        }

        rtu &:active {
          filter: opacity(0.7);
        }
      }

      >.icon-fa-angle-right {
        display: none;
      }

      &.session-window,
      &.session-tab {

        &::before {
          content: '\e914';
          font-family: "glyphs";
          font-size: 1.3em;
          margin-left: 1.3em;
        }

        >.history-title {
          text-indent: 2px;
        }

        .icon-x {
          display: none;
        }
      }

      &.session-window {
        &::before {
          content: '\e91d';
        }

        >.icon-fa-angle-right {
          display: inline-block;
          position: absolute;
          left: 4px;
        }
      }

      &.open-closed-window {
        >.icon-fa-angle-right {
          transform: rotate(90deg);
        }
      }

      &.child-session {
        margin-left: 1.6em;
      }

      &.fade-in {
        animation: fade-in 0.15s ease-in-out;
      }
    }

    >.history:empty {
      display: none;
    }

    .header-date {
      display: flex;
      height: 1.6em;
      margin: 0.1em 2px;
      padding: 0;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.3);
      color: $dark-font-color;
      border-radius: 2px;
      -webkit-user-drag: none;

      &:nth-child(2) {
        margin-top: 0;
      }
    }

    .current-date {
      position: absolute;
      width: -webkit-fill-available;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
      }

      &::after {
        content: attr(data-value);
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: $dark-font-color;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  &.init::-webkit-scrollbar-thumb {
    background-color: transparent !important;
  }
}

.pane-body.end.histories {
  margin-right: 4px;
}

.v-scroll {
  position: relative;
  overflow-y: auto;
}

.v-scroll>.rows {
  position: sticky;
  top: 0;
  width: 100%;
}

.v-scroll-fake-bottom {
  width: 1px;
}

// Date collapse icon

.date-collapsed {
  .icon-calendar-plus-solid {
    display: inline-block;
  }

  .icon-calendar-minus-solid {
    display: none;
  }
}

.header-histories {
  .icon-history {
    font-size: 1.1em;
  }

  &:not(.date-collapsed) {
    .icon-calendar-plus-solid {
      display: none;
    }

    .icon-calendar-minus-solid {
      display: inline-block;
    }
  }

  .collapse-history-date.hidden {
    opacity: 0;
    pointer-events: none;
  }

  &.show-recently-closed {
    .toggle-recently-closed .icon-recently-closed-tab {
      transform: unset;

      &::before {
        content: '\e90d';
      }
    }
  }
}

.toggle-recently-closed {
  margin-left: 10px;

  >i {
    transform: scale(1.1);
  }
}

.toggle-recently-closed,
.collapse-history-date {
  margin-right: 10px;

  .init {
    visibility: hidden;
  }
}

// History date collapse mode

app-main:not(.disable-zoom-history) {

  .collapse-history-date {
    display: none;
  }

  &.zoom-pane {

    .collapse-history-date {
      display: flex;
    }
  }

  &.zoom-fade-out {

    .collapse-history-date {
      display: none;
    }
  }
}

.header-histories:has(multi-sel-pane.show)~.histories .header-date:hover::before {
  content: '\e912';
  position: absolute;
  display: inline-flex;
  align-items: center;
  font-family: "glyphs";
  line-height: 1;
  left: 5px;
  font-size: 1.2em;
  color: $common-marker;
}

.theme-dark-pane .header-histories:has(multi-sel-pane.show)~.histories .header-date:hover::before {
  color: deepskyblue;
}