<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="popup.css">
</head>

<body>
    <main>
        <div class="resize-x"></div>
        <div class="pane-title">
            <i class="icon-clock-rotate-left-solid" title="HISTORY"></i>
            <button class="show-calendar" type="button">
                <i class="icon-calendar-plus-solid" title="Expand date"></i>
                <i class="icon-calendar-minus-solid" title="Collapse by date"></i>
            </button>
        </div>
        <div class="split-h pane3"></div>
        <div class="pane-title">
            <div class="tabs" title="OPEN TABS">
                <div></div>
                <div></div>
                <div class="bgcolor1"></div>
            </div>
        </div>
        <div class="split-h pane2"></div>
        <div class="pane-title">
            <i class="icon-bookmarks" title="BOOKMARKS"></i>
        </div>
        <div class="split-h pane1"></div>
        <form class="form-query">
            <input type="text" class="query" autofocus="true">
            <button type="submit" tabindex="-1"><i class="icon-fa-search"></i></button>
            <i class="icon-x"></i>
            <button class="pin-bookmark" title="Pin a bookmark" type="button">
                <i class="icon-fa-star-o"></i>
            </button>
            <div class="menu-button">
                <button class="main-menu-button" type="button">
                    <i class="icon-fa-ellipsis-v"></i>
                </button>
                <div class="main-menu" role="menu">
                    <div role="menuitem" data-value="add-bookmark"><i class="icon-fa-star-o"></i>Add new bookmark</div>
                    <div role="menuitem" data-value="add-folder"><i class="icon-fa-folder-plus"></i>Add new folder</div>
                    <hr aria-hidden="true">
                    <div role="menuitem" data-value="include-url"><div class="icon-url"></div>Include URL in search<i class="icon-check-solid"></i></div>
                    <hr aria-hidden="true">
                    <div role="menuitem" data-value="auto-zoom"></i><div class="icon-zoom"></div>Auto zen mode<i class="icon-check-solid"></i></div>
                    <hr aria-hidden="true">
                    <div role="menuitem" data-value="settings"><i class="icon-fa-cog"></i>Settings</div>
                </div>
            </div>
        </form>
        <div class="pane-history v-scroll">
            <div class="rows"></div>
            <div class="v-scroll-bar">
                <div class="scroll-filler"></div>
            </div>
        </div>
        <div class="pane-tabs"></div>
        <div class="leafs"></div>
        <div class="folders"></div>
        <div class="shade-left"></div>
        <div class="shade-right"></div>
        <i class="zoom-out icon-clock-rotate-left-solid"></i>
        <i class="zoom-out icon-fa-angle-right"></i>
    </main>
    <div class="resize-y"></div>
    <div class="leaf-menu" role="menu">
        <div role="menuitem" data-value="find-in-tabs"><i class="icon-tab"></i>Find in tabs first</div>
        <div role="menuitem" data-value="open-new-tab"><i class="icon-tab"></i>Open in new tab</div>
        <hr aria-hidden="true">
        <div role="menuitem" data-value="open-new-window"><i class="icon-fa-window-restore"></i>Open in new window</div>
        <div role="menuitem" data-value="open-incognito"><i class="icon-fa-mask"></i>Open in incognito window</div>
        <hr aria-hidden="true" class="searched-menu">
        <div role="menuitem" data-value="show-in-folder" class="searched-menu"><i class="icon-fa-sign-in-alt"></i>Show in
            folder</div>
        <hr aria-hidden="true">
        <div role="menuitem" data-value="edit-title"><i class="icon-fa-edit"></i>Edit title</div>
        <div role="menuitem" data-value="edit-url"><i class="icon-fa-link"></i>Edit url</div>
        <hr aria-hidden="true">
        <div role="menuitem" data-value="remove"><i class="icon-fa-trash-alt"></i>Delete</div>
    </div>
    <div class="folder-menu" role="menu">
        <div role="menuitem" data-value="add-bookmark"><i class="icon-fa-star-o"></i>Add new bookmark</div>
        <hr aria-hidden="true">
        <div role="menuitem" data-value="add-folder"><i class="icon-fa-folder-plus"></i>Add new folder</div>
        <div role="menuitem" data-value="edit"><i class="icon-fa-edit"></i>Edit</div>
        <hr aria-hidden="true">
        <div role="menuitem" data-value="remove"><i class="icon-fa-trash-alt"></i>Delete</div>
    </div>
    <div class="draggable-clone">
        <div class="leaf"></div>
    </div>
    <script src="popup.js"></script>
</body>

</html>