<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="popup.css">
</head>

<body>
    <main>
        <div class="resize-x"></div>
        <div class="split-h pane3"></div>
        <div class="split-h pane2"></div>
        <div class="split-h pane1"></div>
        <div class="shade-left"></div>
        <div class="shade-right"></div>
        <i class="zoom-out icon-fa-angle-right left"></i>
        <i class="zoom-out icon-fa-angle-right right"></i>
        <div class="safety-zone-right"></div>
    </main>
    <div class="resize-y"></div>
    <div class="components">
        <div class="pane-header header-histories">
            <i class="icon-history" title="HISTORY"></i>
            <button class="collapse-history-date" type="button">
                <i class="icon-calendar-plus-solid" title="Expand date"></i>
                <i class="icon-calendar-minus-solid" title="Collapse by date"></i>
            </button>
            <div class="query-wrap"></div>
            <div class="menu-button">
                <button class="main-menu-button" type="button">
                    <i class="icon-fa-ellipsis-v"></i>
                </button>
                <div class="main-menu" role="menu">
                    <div role="menuitem" data-value="include-url"><i class="icon-url"></i>Include URL in search<i
                            class="icon-check-solid"></i></div>
                    <hr aria-hidden="true">
                    <div role="menuitem" data-value="auto-zoom" title="Pane resizable when disabled">
                        <div class="icon-zoom"></div>Auto xen mode<i class="icon-check-solid"></i>
                    </div>
                    <hr aria-hidden="true">
                    <div role="menuitem" data-value="settings"><i class="icon-fa-cog"></i>Settings</div>
                </div>
            </div>
        </div>
        <div is="header-tabs" class="pane-header header-tabs">
            <i class="icon-tabs" title="OPEN TABS"></i>
            <button class="win-prev" type="button" title="Previous window"><i class="icon-square-up"></i></button>
            <button class="win-next" type="button" title="Next window"><i class="icon-square-down"></i></button>
            <button class="collapse-tabs" type="button"><i class="icon-list"
                    title="Show list view in all windows"></i><i class="icon-grid"
                    title="Show icon view in all windows"></i></button>
            <div class="query-wrap"></div>
            <div class="menu-button">
                <button class="main-menu-button" type="button">
                    <i class="icon-fa-ellipsis-v"></i>
                </button>
                <div class="main-menu" role="menu">
                    <div role="menuitem" data-value="include-url"><i class="icon-url"></i>Include URL in search<i
                            class="icon-check-solid"></i></div>
                    <hr aria-hidden="true">
                    <div role="menuitem" data-value="auto-zoom" title="Pane resizable when disabled">
                        <div class="icon-zoom"></div>Auto xen mode<i class="icon-check-solid"></i>
                    </div>
                    <hr aria-hidden="true">
                    <div role="menuitem" data-value="settings"><i class="icon-fa-cog"></i>Settings</div>
                </div>
            </div>
        </div>
        <div class="pane-header header-leafs">
            <i class="icon-bookmarks" title="BOOKMARKS"></i>
            <div class="query-wrap"></div>
            <button class="pin-bookmark" title="Pin a bookmark" type="button"></button>
            <div class="menu-button">
                <button class="main-menu-button" type="button">
                    <i class="icon-fa-ellipsis-v"></i>
                </button>
                <div class="main-menu" role="menu">
                    <div role="menuitem" data-value="add-bookmark"><i class="icon-fa-star-o"></i>Add new bookmark</div>
                    <div role="menuitem" data-value="add-folder"><i class="icon-fa-folder-plus"></i>Add new folder</div>
                    <hr aria-hidden="true">
                    <div role="menuitem" data-value="include-url"><i class="icon-url"></i>Include URL in search<i
                            class="icon-check-solid"></i></div>
                    <hr aria-hidden="true">
                    <div role="menuitem" data-value="auto-zoom" title="Pane resizable when disabled"></i>
                        <div class="icon-zoom"></div>Auto xen mode<i class="icon-check-solid"></i>
                    </div>
                    <hr aria-hidden="true">
                    <div role="menuitem" data-value="settings"><i class="icon-fa-cog"></i>Settings</div>
                </div>
            </div>
        </div>
        <div class="pane-header header-folders"></div>
        <div class="pane-body leafs"></div>
        <div class="pane-body folders"></div>
        <div class="pane-body histories v-scroll">
            <div class="rows"></div>
            <div class="v-scroll-fake-bottom"></div>
        </div>
        <div class="pane-body tabs" is="body-tabs">
            <div class="tabs-wrap"></div>
        </div>
        <form class="form-query" autocomplete="off">
            <button type="submit" class="submit" tabindex="-1"><i class="icon-fa-search"></i></button>
            <input type="text" class="query" name="query" autofocus="true">
            <i class="icon-x"></i>
        </form>
        <div class="leaf-menu" role="menu">
            <div role="menuitem" data-value="find-in-tabs"><i class="icon-tab-find"></i>Find in tabs first</div>
            <div role="menuitem" data-value="open-new-tab"><i class="icon-tabs"></i>Open in new tab</div>
            <hr aria-hidden="true">
            <div role="menuitem" data-value="open-new-window"><i class="icon-fa-window"></i>Open in new window</div>
            <div role="menuitem" data-value="open-incognito"><i class="icon-incognito"></i>Open in incognito window
            </div>
            <hr aria-hidden="true" class="searched-menu">
            <div role="menuitem" data-value="show-in-folder" class="searched-menu"><i
                    class="icon-fa-sign-in-alt"></i>Show
                in
                folder</div>
            <hr aria-hidden="true">
            <div role="menuitem" data-value="edit-title"><i class="icon-fa-edit"></i>Edit title</div>
            <div role="menuitem" data-value="edit-url"><i class="icon-fa-link"></i>Edit URL</div>
            <hr aria-hidden="true">
            <div role="menuitem" data-value="remove"><i class="icon-fa-trash-alt"></i>Delete</div>
        </div>
        <div class="folder-menu" role="menu">
            <div role="menuitem" data-value="add-bookmark"><i class="icon-fa-star-o"></i>Add new bookmark</div>
            <div role="menuitem" data-value="add-folder"><i class="icon-fa-folder-plus"></i>Add new folder</div>
            <hr aria-hidden="true">
            <div role="menuitem" data-value="open-all"><i class="icon-fa-window"></i>Open all in new window</div>
            <div role="menuitem" data-value="open-all-incognito"><i class="icon-incognito"></i>Open all in incognito
                window</div>
            <hr aria-hidden="true">
            <div role="menuitem" data-value="edit"><i class="icon-fa-edit"></i>Edit title</div>
            <hr aria-hidden="true">
            <div role="menuitem" data-value="remove"><i class="icon-fa-trash-alt"></i>Delete</div>
        </div>
        <div class="modal">
            <div class="popup">
                <div class="popup-desc"></div>
                <div calss="input"><input type="text"></div>
                <div class="footer"><button>OK</button><button>Cancel</button></div>
            </div>
        </div>
    </div>
    <template>
        <open-window class="window" draggable="true">
            <window-header class="tabs-header">
                <i class="icon-incognito"></i>
                <div class="tab" title=""></div>
                <button class="collapse-tab"><i class="icon-list" title="Show list view"></i><i class="icon-grid"
                        title="Show grid view"></i></button>
                <button class="tabs-menu-button"><i class="icon-fa-ellipsis-v"></i></button>
                <div class="tabs-menu" role="menu">
                    <div role="menuitem" data-value="add-new-tab"><i class="icon-tab-plus"></i>Add new tab</div>
                    <hr aria-hidden="true">
                    <div role="menuitem" data-value="close-window"><i class="icon-close"></i>Close window</div>
                </div>
            </window-header>
        </open-window>
        <open-tab draggable="true" class="tab-wrap">
            <div class="tab" title=""></div><i class="icon-x"></i>
            <div class="tooltip"></div>
            <div class="drop-top"></div>
            <div class="drop-bottom"></div>
        </open-tab>
    </template>
    <div class="draggable-clone">
        <div class="leaf"></div>
    </div>
    <script nonce="popup">
        const params = new URLSearchParams(document.location.search);
        const sheet = document.head.appendChild(document.createElement('style'));
        sheet.textContent = params.get('css');
    </script>
    <script src="popup.js"></script>
</body>

</html>