<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="popup.css">
    <script src="popup.js" async></script>
</head>

<body style="overflow: hidden;">
    <app-main>
        <div class="resize-x"></div>
        <div class="split-h pane3"></div>
        <div class="split-h pane2"></div>
        <div class="split-h pane1"></div>
        <div class="shade-left"></div>
        <div class="shade-right"></div>
        <i class="zoom-out icon-fa-angle-right left"></i>
        <i class="zoom-out icon-fa-angle-right right"></i>
        <div class="safety-zone-right"></div>
    </app-main>
    <div class="resize-y"></div>
    <div class="components">
        <div is="header-history" class="pane-header header-histories">
            <i class="icon-history" title="HISTORY"></i>
            <button class="toggle-recently-closed init" type="button" title="Toggle display of recently closed tabs"><i
                    class="icon-recently-closed-tab"></i></button>
            <button class="collapse-history-date init" type="button" title="Toggle collapse by date">
                <i class="icon-calendar-plus-solid"></i>
                <i class="icon-calendar-minus-solid"></i>
            </button>
            <div class="query-wrap"></div>
            <div class="menu-button">
                <button class="main-menu-button" type="button">
                    <i class="icon-fa-ellipsis-v"></i>
                </button>
                <div class="main-menu" role="menu">
                    <div role="menuitem" class="include-url" title="By default, search only title"><i
                            class="icon-fa-search"></i>Search both title and URL<i class="icon-check-solid"></i></div>
                    <hr aria-hidden="true">
                    <div role="menuitem" data-value="start-multi-select" class="start-multi-select"
                        title="Other ways to start: Long press item/Press Ctrl+Shift key">
                        <i class="icon-check-all"></i>Mulitiple
                        selection<i class="icon-info"></i>
                    </div>
                    <hr aria-hidden="true">
                    <div role="menuitem" class="menu-parent fav-color-themes"
                        title="Press F2 for rotate favorites&#13;&#10;Press F8 for randomly pick from paletts"><i
                            class="icon-color-palette"></i>Favorite
                        color palettes
                    </div>
                    <hr aria-hidden="true">
                    <div role="menuitem" data-value="settings"><i class="icon-fa-cog"></i>Settings</div>
                </div>
            </div>
            <popup-menu role="menu">
                <!-- <div role="menuitem" class="open-new-tab"><i class="icon-tab-plus"></i>Open in new tab</div> -->
                <div role="menuitem" class="open-new-window"><i class="icon-new-window"></i>Open in new window
                </div>
                <div role="menuitem" class="open-incognito"><i class="icon-incognito"></i>Open in incognito window
                </div>
            </popup-menu>
        </div>
        <div is="header-tabs" class="pane-header header-tabs">
            <i class="icon-tabs" title="OPEN TABS"></i>
            <div class="tabs-info">
                <div class="searches-tabs"><i class="icon-fa-search"></i>
                    <div class="count-selected"></div>
                    <!-- <button class="wheel-select-tab">
                        <i class="icon-mouse"></i>
                    </button> -->
                </div>
                <div class="searches-bookmarks"><i class="bookmark-find"></i>
                    <div class="count-selected"></div>
                </div>
            </div>
            <button class="new-window-plus" title="Open new window/Drop item to open in new window"><i
                    class="icon-plus"></i></button>
            <button class="minimize-all" title="Minimize others"><i class="icon-minimize"></i></button>
            <button class="tab-order-asc" type="button" title="Toggle asc/desc of windows order by created"><i
                    class="icon-sort-desc"></i></button>
            <button class="win-prev" type="button" title="Previous window"><i class="icon-arrow-up"></i></button>
            <button class="win-next" type="button" title="Next window"><i class="icon-arrow-down"></i></button>
            <button class="focus-current-tab" type="button" title="Scroll to current window and highlight"><i
                    class="icon-current-tab"></i></button>
            <button class="collapse-tabs" type="button" title="Toggle icon/list view of all windows"><i
                    class="icon-list"></i><i class="icon-grid"></i></button>
            <div class="query-wrap"></div>
            <div class="menu-button">
                <button class="main-menu-button" type="button">
                    <i class="icon-fa-ellipsis-v"></i>
                </button>
                <div class="main-menu" role="menu">
                    <div role="menuitem" class="include-url" title="By default, search only title"><i
                            class="icon-fa-search"></i>Search both title and URL<i class="icon-check-solid"></i></div>
                    <hr aria-hidden="true">
                    <div role="menuitem" data-value="start-multi-select" class="start-multi-select"
                        title="Other ways to start: Long press item/Press Ctrl+Shift key">
                        <i class="icon-check-all"></i>Mulitiple
                        selection<i class="icon-info"></i>
                    </div>
                    <hr aria-hidden="true">
                    <div role="menuitem" class="menu-parent fav-color-themes"
                        title="Press F2 for rotate favorites&#13;&#10;Press F8 for randomly pick from paletts"><i
                            class="icon-color-palette"></i>Favorite
                        color palettes
                    </div>
                    <hr aria-hidden="true">
                    <div role="menuitem" data-value="settings"><i class="icon-fa-cog"></i>Settings</div>
                </div>
            </div>
            <popup-menu role="menu">
                <div role="menuitem" data-value="open-new-window"><i class="icon-new-window"></i>Open in new window
                </div>
                <div role="menuitem" data-value="open-incognito"><i class="icon-incognito"></i>Re-open in incognito
                    window
                </div>
            </popup-menu>
        </div>
        <div is="header-leafs" class="pane-header header-leafs">
            <i class="icon-bookmarks" title="BOOKMARKS"></i>
            <div class="query-wrap"></div>
            <button class="pin-bookmark"
                title="Click to bookmark current page,&#13;&#10;or works as drag & drop current tab" type="button"
                draggable="true"></button>
            <div class="menu-button">
                <button class="main-menu-button" type="button">
                    <i class="icon-fa-ellipsis-v"></i>
                </button>
                <div class="main-menu" role="menu">
                    <div role="menuitem" data-value="add-bookmark"><i class="icon-fa-star-o"></i>Add new bookmark</div>
                    <div role="menuitem" data-value="add-folder"><i class="icon-fa-folder-plus"></i>Add new folder</div>
                    <div role="menuitem" data-value="add-bookmark-text"><i class="icon-clipboard"></i>Add bookmark
                        from
                        link text</div>
                    <hr aria-hidden="true">
                    <div role="menuitem" class="include-url" title="By default, search only title"><i
                            class="icon-fa-search"></i>Search both title and URL<i class="icon-check-solid"></i></div>
                    <hr aria-hidden="true">
                    <div role="menuitem" data-value="start-multi-select" class="start-multi-select"
                        title="Other ways to start: Long press item/Press Ctrl+Shift key">
                        <i class="icon-check-all"></i>Mulitiple
                        selection<i class="icon-info"></i>
                    </div>
                    <hr aria-hidden="true">
                    <div role="menuitem" class="menu-parent fav-color-themes"
                        title="Press F2 for rotate favorites&#13;&#10;Press F8 for randomly pick from paletts"><i
                            class="icon-color-palette"></i>Favorite
                        color palettes
                    </div>
                    <hr aria-hidden="true">
                    <div role="menuitem" data-value="settings"><i class="icon-fa-cog"></i>Settings</div>
                </div>
            </div>
            <popup-menu role="menu">
                <!-- <div role="menuitem" data-value="open-new-tab"><i class="icon-tab-plus"></i>Open in new tab</div> -->
                <div role="menuitem" data-value="open-new-window"><i class="icon-new-window"></i>Open in new window
                </div>
                <div role="menuitem" data-value="open-incognito"><i class="icon-incognito"></i>Open in incognito window
                </div>
            </popup-menu>
        </div>
        <div class="pane-header header-folders"></div>
        <div is="body-leafs" class="pane-body leafs"></div>
        <div is="body-folders" class="pane-body folders"></div>
        <div is="body-history" class="pane-body histories v-scroll init">
            <div class="rows"></div>
            <div class="v-scroll-fake-bottom"></div>
        </div>
        <div is="body-tabs" class="pane-body tabs">
            <div class="pin-wrap-top"></div>
            <div class="tabs-wrap">
                <div class="windows-wrap"></div>
                <div class="new-window">
                    <button class="new-window-plus" title="Open new window/Drop item to open in new window"><i
                            class="icon-plus"></i></button>
                </div>
            </div>
            <div class="pin-wrap-bottom"></div>
        </div>
        <form is="form-search" class="form-query" autocomplete="off">
            <button type="submit" class="submit" tabindex="-1"><i class="icon-fa-search"></i></button>
            <input type="text" class="query" name="query" autofocus="true">
            <button class="clear-search" type="button"><i class="icon-x"></i></button>
            <div class="queries-wrap">
                <div class="queries"></div>
            </div>
        </form>
        <div class="leaf-menu" role="menu">
            <div role="menuitem" data-value="find-in-tabs"><i class="icon-tab-find"></i>Find in tabs first</div>
            <div role="menuitem" data-value="open-new-tab"><i class="icon-tab-plus"></i>Open in new tab</div>
            <div role="menuitem" data-value="open-in-current-tab"><i class="icon-tabs"></i>Open in current tab</div>
            <div role="menuitem" data-value="open-new-window"><i class="icon-new-window"></i>Open in new window</div>
            <div role="menuitem" data-value="open-incognito"><i class="icon-incognito"></i>Open in incognito window
            </div>
            <hr aria-hidden="true" class="searched-menu">
            <div role="menuitem" data-value="show-in-folder" class="searched-menu"><i
                    class="icon-fa-sign-in-alt"></i>Show
                in
                folder</div>
            <hr aria-hidden="true">
            <div role="menuitem" data-value="bm-find-tab-mode" class="bm-find-tab-mode menu-parent"><i
                    class="icon-tab-find"></i>Find tabs:&nbsp;<span class="bm-find-domain">Domain match</span><span
                    class="bm-find-prefix">URL
                    prefix match</span>
                <div class="bm-find-tab-menu menu-tree" role="menu">
                    <div role="menuitem" data-value="bm-find-domain"><i class="icon-check-solid"></i>Domain match</div>
                    <div role="menuitem" data-value="bm-find-prefix"><i class="icon-check-solid"></i>URL prefix match
                    </div>
                </div>
            </div>
            <hr aria-hidden="true">
            <div role="menuitem" data-value="edit-title"><i class="icon-fa-edit"></i>Edit title</div>
            <div role="menuitem" data-value="edit-url"><i class="icon-fa-link"></i>Edit URL</div>
            <hr aria-hidden="true">
            <div role="menuitem" data-value="remove"><i class="icon-fa-trash-alt"></i>Delete</div>
        </div>
        <div class="folder-menu" role="menu">
            <div role="menuitem" data-value="add-bookmark"><i class="icon-fa-star-o"></i>Add new bookmark</div>
            <div role="menuitem" data-value="add-folder"><i class="icon-fa-folder-plus"></i>Add new folder</div>
            <hr aria-hidden="true">
            <div role="menuitem" data-value="open-all"><i class="icon-new-window"></i>Open all in new window</div>
            <div role="menuitem" data-value="open-all-incognito"><i class="icon-incognito"></i>Open all in incognito
                window</div>
            <hr aria-hidden="true">
            <div role="menuitem" data-value="edit"><i class="icon-fa-edit"></i>Edit title</div>
            <hr aria-hidden="true">
            <div role="menuitem" data-value="remove"><i class="icon-fa-trash-alt"></i>Delete</div>
        </div>
    </div>
    <div class="draggable-clone"></div>
    <dialog is="modal-dialog">
        <dialog-content></dialog-content>
    </dialog>
    <template>
        <open-window class="window" draggable="true">
            <window-header class="tabs-header">
                <i class="icon-incognito"></i>
                <div class="window-title" title=""></div>
                <!-- <button class="minimize-others" title="Focus and minimize others"><i class="icon-minimize"></i></button> -->
                <button class="collapse-tab"><i class="icon-list" title="Show list view"></i><i class="icon-grid"
                        title="Show icon view"></i></button>
                <button class="tabs-menu-button"><i class="icon-fa-ellipsis-v"></i></button>
                <div class="tabs-menu" role="menu">
                    <div role="menuitem" data-value="minimize-others"><i class="icon-minimize"></i>Minimize others</div>
                    <div role="menuitem" data-value="pin-window-top"><i class="icon-pin-angle"></i>Pin top
                    </div>
                    <div role="menuitem" data-value="pin-window-bottom"><i class="icon-pin-angle"></i>Pin
                        bottom
                    </div>
                    <!-- <hr aria-hidden="true"> -->
                    <div role="menuitem" data-value="add-new-tab"><i class="icon-plus"></i>Add new tab</div>
                    <hr aria-hidden="true">
                    <div role="menuitem" data-value="close-window"><i class="icon-close"></i>Close window</div>
                </div>
                <button class="unpin-window" title="Unpin"><i class="icon-pin-angle"></i></button>
            </window-header>
        </open-window>
        <open-tab draggable="true" class="tab-wrap">
            <i></i>
            <div class="tab-title" title=""></div><i class="icon-x"></i>
            <div class="tooltip"></div>
            <div class="drop-top"></div>
            <div class="drop-bottom"></div>
            <div class="outline"></div>
        </open-tab>
        <multi-sel-pane>
            <i class="icon-check-all" title="Multiple selection mode"></i>
            <div class="count-selected"></div>
            <button class="del-multi-sel" type="button">
                <i class="icon-fa-trash-alt"></i>
            </button>
            <button class="multi-sel-menu-button" type="button">
                <i class="icon-fa-ellipsis-v"></i>
            </button>
        </multi-sel-pane>
    </template>
</body>

</html>