<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="icon" href="p48.png" />
  <link rel="stylesheet" href="settings.css">
  <title>Settings</title>
</head>

<body>
  <main>
    <header>
      <h5><span class="extension-name"></span>Settings<span class="version ms-3"></span></h5>
      <div class="chrome-sync ms-auto">
        <button class="btn btn-sm btn-outline-success upload-sync"
          title="Save settings to the cloud in your chrome sign-in account." data-bs-toggle="tooltip"
          data-bs-placement="bottom"><i class="icon-cloud-arrow-up"></i> Upload
          sync</button>
        <button class="btn btn-sm btn-outline-danger download-sync" data-bs-toggle="tooltip"
          title="Load settings from the cloud in your chrome sign-in account." data-bs-placement="bottom"><i
            class="icon-cloud-arrow-down"></i> Download
          sync</button>
      </div>
    </header>
    <article>
      <form>
        <div class="heading">General</div>
        <div class="item"><input type="checkbox" class="bullet" tabindex="-1">New tab position</div>
        <div class="d-flex gap-4 mt-1 ms-3">
          <label><input type="radio" name="new-tab-position" value="le">Left end</label>
          <label><input type="radio" name="new-tab-position" value="ls">Left side</label>
          <label><input type="radio" name="new-tab-position" value="rs">Right side</label>
          <label><input type="radio" name="new-tab-position" value="re">Right end</label>
        </div>
        <label class="item"><input type="checkbox" name="show-close-tab">Show close tab button</label>
        <label class="item"><input type="checkbox" name="show-delete-history">Show delete history button</label>
        <label class="item"><input type="checkbox" name="find-tabs-first">When openning a bookmark, find it in tabs
          first</label>
        <div class="d-flex gap-4 mt-1 ms-3">
          <label><input type="radio" name="find-tabs-matches" value="domain">URL domain match</label>
          <label><input type="radio" name="find-tabs-matches" value="prefix">URL prefix match</label>
        </div>
        <label class="item d-grid grid-columns-2"><input type="checkbox" name="enable-external-url"><span>In search box
            press enter
            key, it opens the following URL with the input string as a parameter</span><input type="url"
            name="external-url" class="form-control mt-1 mx-3"
            placeholder="Enter a URL. ex. https://www.google.com/search?q="></label>
        <div class="heading">Layout</div>
        <div is="layout-panes" name="panes">
          <div draggable="true" data-value="histories">
            <i class="icon-history"></i>
            <div class="title">HISTORY</div>
            <div>
              <input type="checkbox" name="zoom-history" id="zoom-history"><label for="zoom-history">ZEN mode</label>
            </div>
            <div class="droppable pane-before"></div>
            <div class="droppable pane-after"></div>
          </div>
          <div draggable="true" data-value="tabs">
            <i class="icon-tabs"></i>
            <div class="title">OPEN TABS</div>
            <div>
              <input type="checkbox" name="zoom-tabs" id="zoom-tabs"><label for="zoom-tabs">ZEN mode</label>
            </div>
            <div class="droppable pane-before"></div>
            <div class="droppable pane-after"></div>
          </div>
          <div draggable="true" data-value="bookmarks">
            <i class="icon-bookmarks"></i>
            <div class="title">BOOKMARKS</div>
            <div></div>
            <div class="droppable pane-before"></div>
            <div class="droppable pane-after"></div>
          </div>
        </div>
        <div class="notice-layout">NOTICE: When resizing a pane width, disable "Auto ZEN mode" from this app's menu and then drag a pane border.
        </div>
        <div class="heading">ZEN mode</div>
        <label class="item">
          <input type="checkbox" class="bullet" tabindex="-1">ZEN mode ratio:&nbsp;
          <select name="zoom-ratio">
            <option value="0.5">50%</option>
            <option value="0.6">60%</option>
            <option value="0.7">70%</option>
            <option value="0.8">80%</option>
            <option value="0.9">90%</option>
          </select>
        </label>
        <div class="heading">Style</div>
        <div class="item-collaplse">
          <input type="checkbox" class="bullet" tabindex="-1">
          <a role="button" data-bs-toggle="collapse" href="#color-palettes" aria-expanded="false">
            <div>Color scheme</div><i class="icon-fa-angle-right ms-1"></i>
          </a>
          <div is="color-palette" name="color-palette" class="ms-4">
            <input type="color" data-bs-toggle="tooltip" data-bs-placement="top"
              title="Background color of history, tabs, and bookmarks panes">
            <input type="color" data-bs-toggle="tooltip" data-bs-placement="top"
              title="Background color of frame and folders">
            <input type="color" data-bs-toggle="tooltip" data-bs-placement="top"
              title="Background color of item while hovering">
            <input type="color" data-bs-toggle="tooltip" data-bs-placement="top"
              title="Background color of search box while typing">
            <input type="color" data-bs-toggle="tooltip" data-bs-placement="top"
              title="Background color of selected folder and tab">
          </div>
        </div>
        <div id="color-palettes" class="collapse mt-2">
          <div class="color-palettes"></div>
        </div>
        <div class="item-collaplse">
          <input type="checkbox" class="bullet" tabindex="-1">
          <a role="button" data-bs-toggle="collapse" href="#customize-css" aria-expanded="false">
            <div>Customize CSS</div><i class="icon-fa-angle-right ms-1"></i>
          </a>
        </div>
        <div id="customize-css" class="collapse position-relative">
          <label class="theme">Theme: <select is="monaco-editor-theme" name="editor-theme">
              <option value="vs">Light</option>
              <option value="vs-dark">Dark</option>
            </select></label>
          <div class="customize-css css-editor mt-1"></div>
          <div class="loading">
            <div class="spinner-grow text-info" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
        <input is="monaco-editor" type="hidden" name="css">
      </form>
    </article>
  </main>
  <script src="settings.js"></script>
</body>

</html>