$hover-color: #e8e8e9;
$drag-source-bgcolor0: rgb(232, 240, 254);
$drag-source-bgcolor: #cce5ff;
$drop-folder-bgcolor0: #d1ecf1;
$drop-folder-bgcolor: #cce5ff;
$hilite-bgcolor: #feefc3;
$draggable-bgcolor: rgba(0, 123, 255, .7);
$common-marker: #1A73E8;
$pane-radius: 5px;

@import 'glyphs';

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes hilite-fade-out {
  from {
    background-color: $hilite-bgcolor;
    color: initial;
  }

  to {
    background-color: transparent;
  }
}

@keyframes hilite-fade-in {
  from {
    background-color: transparent;
  }

  to {
    background-color: $hilite-bgcolor;
  }
}

// body/other

body {
  margin: 0;
  margin-right: 0;
  font-size: 0.9em;
}

main {
  position: relative;
  display: grid;
  grid-template-columns: min-content min-content min-content min-content min-content min-content min-content auto;
  grid-template-rows: min-content minmax(0, 100%);
  height: 100%;
  transition: all 0.15s;
}

button:not(.submit) {
  outline: none;
  background-color: transparent;
  border-radius: 3px;
  transition: all .4s;

  >i {
    color: rgba(0, 0, 0, .4);
  }

  &:hover>i,
  &:focus>i {
    color: rgba(0, 0, 0, .5);
  }

  &::after {
    border-radius: 50%;
    background-color: transparent;
    transition: all .4s;
    pointer-events: none;
  }

  &:hover::after,
  &:focus::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 1.3em;
    height: 1.3em;
    transition: all .4s;
  }

  &:active::after {
    background-color: rgba(0, 0, 0, .2);
  }

}

.resize-x,
.split-h {
  height: 100%;
  grid-row-start: span 2;
}

.split-h {
  width: 4px;
}

.resize-x {
  cursor: w-resize;
  width: 4px;
}

.resize-y {
  cursor: s-resize;
  height: 4px;
}

.remove-hilite {
  animation-name: hilite-fade-in !important;
  animation-duration: .3s !important;
  animation-timing-function: ease-out;
}

// Item Common

.leaf,
.tab-wrap,
.history {
  position: relative;
  display: flex;
  height: 1.8em;
  align-items: center;
  padding-left: 20px;
  overflow: hidden;
  white-space: nowrap;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 2px center;

  >div:first-child {
    width: 100%;
    padding: 0.15em;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;

    &[contenteditable] {
      margin-right: 2px;
    }
  }

  &.hilite {
    animation-name: hilite-fade-out !important;
    animation-duration: 1.5s !important;
  }
}

// Leaf menu

.leaf-menu-button,
.folder-menu-button {
  display: none;
  z-index: 1;
  margin-left: auto;
  margin-right: 1px;
  padding: 0;
  justify-content: center;
  align-items: center;
  border: 0;
  font-size: 1.2em;

  >.icon-fa-ellipsis-v {
    pointer-events: none;
  }

  &:focus {
    pointer-events: none;
  }

  &:active {
    pointer-events: all;
  }

}

// Search

.form-query {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 4px 0;
  padding: 2px 0;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;

  .submit {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 0.9em;
    color: rgba(0, 0, 0, .4);

    &::after {
      content: none;
    }
  }

  .query {
    width: 100%;
    max-width: 100px;
    background: rgba(0, 0, 0, .1);
    border: 0;
    outline: none;
    font-size: inherit;
    background-color: transparent;
  }

  .icon-x {
    font-size: 1.4em;
    visibility: hidden;
    cursor: pointer;
  }
}

.split-h {
  cursor: col-resize;
}

.menu-button {
  position: relative;
  margin: 0 3px;
}

.pin-bookmark {
  // margin-left: 5px;
  margin-left: auto;
}

.query-wrap:empty + .pin-bookmark {
  margin-left: auto;
}

.main-menu-button,
.pin-bookmark,
.collapse-history-date {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  border: 0;
  font-size: 1.2em;

  &:focus {
    pointer-events: none;

    +.main-menu {
      display: block;
      animation: fade-in 0.15s ease-in-out;
    }
  }

  >.icon-fa-ellipsis-v {
    pointer-events: none;
  }

  &:active {
    pointer-events: all;
  }

}

.form-query {
  &[data-searching]>.icon-x {
    visibility: inherit;
  }

  &[data-searching] {
    background-color: #cce5ff;

    +button {
      cursor: pointer;
    }
  }
}

[role="menu"] {
  display: none;
  position: absolute;
  z-index: 3;
  margin: 0;
  padding: 6px 0;
  width: fit-content;
  top: 100%;
  right: 0;
  background-color: #fff;
  border-width: 0;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
  border-radius: 4px;
  transition: opacity .218s;
  border: 1px solid rgba(0, 0, 0, .2);
  outline: none;
  cursor: default;

  >div {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    letter-spacing: .01428571em;
    font-family: Roboto, Arial, sans-serif;
    font-size: .875em;
    font-weight: 400;
    line-height: 1.25rem;
    padding: 0.15em 0.8em 0.15em 0;
    color: #333;
    list-style: none;
    margin: 0;
    white-space: nowrap;
  }

  >hr {
    background-color: rgba(0, 0, 0, 0.11);
    border-width: 0;
    height: 1px;
    margin: 7px 0;
  }

  >div:hover {
    background-color: $hover-color;
  }

  .searched-menu {
    display: none;
  }

}

[role="menuitem"] {

  i,
  >.icon-zoom {
    width: 2.5em;
    text-align: center;
    font-size: 1.2em;
  }
}

// Leafs pane

.leafs {
  overflow-y: auto;
  border-radius: $pane-radius;
  transition: width 0.1s;

  .leaf-menu-button:focus+.leaf-menu {
    position: fixed;
    display: block;
    top: calc(100% - 2px);
    animation: fade-in 0.15s ease-in-out;
  }

  .leaf-menu-button.menu-pos-top+.leaf-menu {
    bottom: calc(100% - 2px);
    top: auto;
  }

  >.marker,
  >.folder>.marker,
  .folder>.leaf,
  .folder>.marker,
  .folder.search-path>.folder,
  .folder.search-path>.leaf,
  .button-wrapper {
    display: none;
  }

  .folder.open {
    padding-bottom: 4px;
  }

  >.folder {
    padding: 2px;
  }

  >.folder.search-path[id='1']>.marker {
    display: none !important;
  }

  >.folder.search-path[id='1']>.folder {
    padding-inline-start: 0;
    margin-left: 0;
  }

  .folder.search-path.path>.marker>.title::before {
    content: '\f07c';
  }

  .folder.search-path.path>.leaf.search-path,
  .folder.open>.leaf {
    display: flex;
    animation: fade-in 0.15s ease-in-out;
  }

  .search-path>.leaf-menu>.searched-menu {
    display: block;
  }

  .search-path .marker {
    -webkit-user-drag: none;
  }

  .folder[id="1"]>.search-path {
    margin-left: 0;
  }

}

// Bookmarks

.leaf {

  // &:hover {
  //   background-color: $hover-color;
  // }

  &:hover>button {
    display: flex;
  }

  &.search-path {
    margin-left: 30px;
  }

}

// Folders pane

.folders {
  padding: 2px 2px 0 0;
  overflow-y: auto;
  overflow-x: hidden;

  .leaf-menu-button:focus+.leaf-menu {
    display: block;
    position: fixed;
    animation: fade-in 0.15s ease-in-out;
  }

  .folder .folder {
    display: none;
  }

  .open>.marker {

    >.title {
      border-radius: 3px;

      &::before {
        color: white;
        content: '\f07c';
      }
    }
  }

  .marker {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 200%;
      height: 100%;
      right: 0;
    }

    &:hover {
      // &::before {
      //   background-color: $hover-color;
      // }

      >.button-wrapper {
        display: flex;
        margin-left: auto;
        margin-right: 0;
        pointer-events: all;
        z-index: 2;

        >button {
          display: flex;
        }
      }

      >.icon-fa-angle-right {
        z-index: 2;
      }
    }

    >.title {
      z-index: 1;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    >.button-wrapper {
      display: none;
    }

    .folder-menu-button:focus+.folder-menu {
      display: block;
      position: fixed;
      animation: fade-in 0.15s ease-in-out;
    }

    &.hilite::before {
      animation-name: hilite-fade-out !important;
      animation-duration: 1.5s !important;
    }

    &.remove-hilite::before {
      animation-name: hilite-fade-in !important;
      animation-duration: .3s !important;
      animation-timing-function: ease-out;
    }

  }
}

// Leafs, Folders

.leafs .folder .folder.search-path,
.folders .folder .folder {
  padding-inline-start: 12px;
}

.leafs .folder.search-path>.marker,
.folders .marker {
  display: flex;
  align-items: center;
  padding: 2px 0 2px 2px;
}

.leafs .folder.search-path.path>.folder,
.folders .folder.path>.folder {
  display: block;
}

.leafs .folder.path>.marker>.icon-fa-angle-right,
.folders .path>.marker>.icon-fa-angle-right {
  transform: rotate(90deg);
}

.icon-fa-angle-right {
  padding: 0 4px;
  transition: transform .1s;
  cursor: pointer;
}

[data-children='0'] .icon-fa-angle-right {
  visibility: hidden;
  pointer-events: none;
}

.title {
  padding: 0.05em 0.25em;
  white-space: nowrap;
  display: flex;
  overflow: hidden;
  align-items: center;

  >div {
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
    padding: 0.15em;
    margin-left: 0.15em;

    &:focus {
      width: 100%;
      text-overflow: unset;
      pointer-events: all;
      z-index: 3;
      padding-right: 0.3em;
      background-color: white;
      color: #222222;
      min-width: 80px;
    }

    &:empty::before {
      content: attr(data-current-title);
      color: darkgray;
    }
  }

  &::before {
    content: '\f07b';
    display: inline-block;
    font-family: 'glyphs';
    font-size: inherit;
    text-rendering: auto;
    margin-left: 1px;
    color: rgba(0, 0, 0, .5);
    width: 1.0em;
  }

}

.anchor {
  &:focus {
    text-overflow: unset;
    padding-right: 0.3em;
    background-color: white;
    color: #222222;
  }

  &:empty::before {
    content: attr(data-current-title);
    color: darkgray;
  }
}

// Scroll bar

.folders::-webkit-scrollbar,
.leafs::-webkit-scrollbar,
.tabs::-webkit-scrollbar,
.v-scroll-bar::-webkit-scrollbar {
  width: 8px;
}

main::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, .4);
}

// Drag & Drop

.drop-top.drag-enter::before,
.drop-folder.drag-enter::before,
.drop-bottom.drag-enter::before {
  content: '';
  position: absolute;
}

.drag-start-leaf .leaf,
.drag-start-leaf .tab-wrap,
.drag-start-leaf .folders>.folder>.marker,
.drag-start-folder .leaf,
.drag-start-folder .marker {

  >.drop-top.drag-enter::after,
  >.drop-bottom.drag-enter::after {
    content: '';
    position: absolute;
    width: 10px;
    border-left: 7px solid $common-marker;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }
}

.drag-start-leaf,
.drag-start-folder .folders {

  .leaf:not(.search-path),
  .tab-wrap:not(.match):not(.unmatch) {
    overflow: visible;

    >.drop-top,
    >.drop-bottom {
      position: absolute;
      width: calc(100% - 5px);
      left: 1px;
    }

    >.drop-top {
      z-index: 2;
      top: calc(-50% - 2px);
      height: calc(100% + 2px);

      &.drag-enter::before {
        top: 50%;
        width: 100%;
        border-top: 2px solid $common-marker;
      }
    }

    >.drop-bottom {
      z-index: 1;
      top: 50%;
      height: calc(100% - 3px);

      &.drag-enter::before {
        top: 50%;
        width: 100%;
        border-top: 2px solid $common-marker;
      }
    }

    >.drop-top.drag-enter::after,
    >.drop-bottom.drag-enter::after {
      top: calc(50% - 4px);
      left: -1px;
    }
  }

}

.drag-start-leaf,
.drag-start-folder {
  .title {
    pointer-events: none;
  }

  .folders {

    .leaf>.drop-top.drag-enter::after,
    .leaf>.drop-bottom.drag-enter::after {
      left: 0;
    }

    >.leaf+.folder>.marker>.drop-top {
      top: calc(-50% - 2px);
      height: 70%;

      &.drag-enter::before {
        top: calc(50% + 4px);
      }

      &.drag-enter::after {
        top: 50%;
      }
    }

    >.folder+.leaf>.drop-top {
      top: calc(-20% - 2px);
      height: 70%;

      &.drag-enter::before {
        top: 20%;
      }

      &.drag-enter::after {
        top: calc(50% - 9px);
      }
    }

    .marker>.drop-folder {
      position: absolute;
      z-index: 1;
      height: 100%;

      &.drag-enter {
        background-color: $drop-folder-bgcolor;
      }
    }
  }

  .folders>#\32 .folder>.marker,
  .folders>#\33 .folder>.marker {

    >.drop-top,
    >.drop-bottom {
      width: 0;
      height: 0;
    }

    >.drop-folder {
      height: 100%;
    }
  }
}

.drag-start-leaf .folders>.folder .folder>.marker>.drop-folder {
  position: absolute;
  left: -2px;
  width: calc(100% - 3px);
}

.drag-start-leaf .folders>.folder>.marker,
.drag-start-folder .marker {

  >.drop-top,
  >.drop-bottom,
  >.drop-folder {
    position: absolute;
    width: calc(100% - 3px);
  }

  >.drop-top {
    z-index: 2;
    top: calc(-20% - 2px);
    height: 40%;

    &.drag-enter::before {
      top: 50%;
      width: 100%;
      border-top: 2px solid $common-marker;
    }

    &.drag-enter::after {
      top: calc(50% - 4px);
    }
  }

  >.drop-bottom {
    z-index: 1;
    top: 80%;
    height: 20%;

    &.drag-enter {
      border-bottom: 2px solid $common-marker;
    }

    &.drag-enter::after {
      top: 0.5px;
    }
  }
}

.drag-start-leaf {
  .drag-source {
    background-color: $drag-source-bgcolor  !important;

    &.leaf,
    &.tab-wrap,
    &.history:not(.header-date) {
      color: #222 !important;
      z-index: 3;
    }

    +.folder>.marker>.drop-top {
      z-index: 0;
      width: 0;
      height: 0;
    }

    &.tab-wrap {
      >.tab {
        color: #222;
      }

      >i::before {
        background-color: inherit;
      }
    }

  }

  :not(.drag-source) {

    >.anchor,
    >.tab {
      pointer-events: none;
    }
  }
}

.drag-start-folder {
  .marker.drag-source {
    z-index: 3;

    &::before {
      background-color: $drag-source-bgcolor;
    }

    >.title {
      outline: none;
      color: #222 !important;

      &::before {
        color: #222 !important;
      }
    }

    ~* {
      pointer-events: none;
    }
  }

  .marker:not(.drag-source)::before {
    background-color: transparent;
  }

  .folder.path:not([data-children="0"])+.folder>.marker>.drop-top {
    top: -2px;
    height: 20%;

    &::before {
      top: 0;
    }

    &::after {
      top: -4px;
    }
  }
}

// draggable clone

.draggable-clone {
  position: relative;
  top: -1000px;
  min-width: 100px;
  max-width: 200px;
  width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;
  color: white !important;
  background-color: $draggable-bgcolor;

  >div {
    padding-right: 8px !important;
    background-color: $draggable-bgcolor;

    >.icon-fa-angle-right {
      display: none;
    }

    >.icon-x {
      display: none;
    }
  }
}

// History

.histories {
  position: relative;
  border-radius: $pane-radius;
  transition: width 0.1s;

  .rows {
    display: grid;
    grid-auto-rows: min-content;
    padding-bottom: 2px;

    >.history {
      margin: 0 2px;

    }

    >div:empty {
      display: none;
    }

    .current-date {
      position: absolute;
      width: -webkit-fill-available;
      z-index: 1;
    }

    .header-date {
      display: flex;
      height: 1.6em;
      margin: 0.1em 2px;
      padding: 0;
      justify-content: center;
      align-items: center;
      background-color: darkgray;
      color: white;
      border-radius: 2px;
      -webkit-user-drag: none;
    }
  }
}

.tabs {
  overflow-y: auto;
  transition: width 0.1s;

  >div {
    overflow: hidden;
    border-radius: $pane-radius;
    border: 2px solid #222;
    margin-right: 2px;
    margin-bottom: 5px;
    padding: 1px;

    &:last-child {
      margin-bottom: 0;
    }

    >.match {
      display: flex !important;
    }

    >.unmatch {
      display: none;
    }
  }

  >.empty {
    padding: 0;
  }
}

.tabs,
.histories {
  .icon-x {
    margin-left: auto;
    margin-right: 2px;
    font-size: 1.3em;
    color: #222;
    background-color: transparent;
    transition: background-color .4s;
    display: none;

    &:hover::before {
      transition: background-color .4s;
      background-color: red;
      border-radius: 1px;
      color: white;
    }
  }
}

.current-tab {
  border-radius: 3px;
}

.v-scroll {
  position: relative;
  overflow-y: auto;
}

.v-scroll>.rows {
  position: sticky;
  top: 0;
  width: 100%;
}

.v-scroll-fake-bottom {
  width: 1px;
}

.pane-header {
  display: flex;
  align-items: center;
  padding-left: 3px;
  transition: width 0.1s;

  .icon-history {
    +.collapse-history-date {
      margin: 0 10px;

      &:hover::after,
      &:focus::after {
        width: 1.5em;
        height: 1.5em;
      }
    }

    ~.query-wrap {
      margin-right: 10px;
    }
  }

  .icon-tabs {
    transform: scale(1.5, 1.2);
    margin-left: 0.25em;
    margin-right: 1.5em;

    ~.query-wrap {
      margin-left: auto;
      margin-right: 10px;
    }
  }

  .icon-bookmarks {
    transform: scale(1.2, 1);
  }

  >i {
    transition: all 0.15s;
  }

}

// Zoom

.auto-zoom .pane-header {
  .form-query {
    margin-left: auto;
    transition: width 0.1s;
  }
}

.auto-zoom {

  .split-h,
  .resize-x {
    cursor: default;
  }
}

.shade-left,
.shade-right {
  transition: all 0.15s;
}

.auto-zoom .zoom-pane {

  .shade-left,
  .shade-right {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 30%);
    border-radius: 3px;
    z-index: 2;
  }

  &.zoom-fade-out {

    .shade-left,
    .shade-right {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  .zoom-out {
    display: block;
  }

  >.histories>.safety-zone-right {
    position: fixed;
    width: 20px;
    height: 100%;
    top: -20px;
    z-index: 3;
  }
}

.zoom-out {
  display: none;
  position: fixed;
  z-index: 2;
  top: calc(50% - 1em);
  color: #efefef;

  &.icon-history {
    font-size: 1.2em;
  }

  &.zoom-out.icon-fa-angle-right {
    right: 5px;
    font-size: 2em;
  }
}

.main-menu .icon-arrows-left-right-solid {
  position: relative;
}

.main-menu .icon-arrows-left-right-solid::after {
  content: '';
  border: 1px solid #333;
  position: absolute;
  top: -0.1em;
  left: 0.57em;
  width: 1.2em;
  height: 100%;
  border-radius: 2px;
}

.main-menu .icon-check-solid {
  display: none;
  font-weight: bold;
  pointer-events: none;
  width: auto;
  margin-left: 10px;
}

.main-menu.checked-include-url>[data-value="include-url"],
.auto-zoom .main-menu>[data-value="auto-zoom"] {
  color: $common-marker;

  >.icon-check-solid {
    display: inline-block;
  }
}

.icon-zoom {
  background-image: url(data:image/svg+xml;charset=utf-8;base64,CiAgICA8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgc3Ryb2tlPSIjMDAwMDAwIiBjbGFzcz0iem9vbS1pY29uIiB3aWR0aD0iMTI4IiBoZWlnaHQ9IjEyOCIgdmlld0JveD0iMCAwIDEyOCAxMjgiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgZmlsbD0ibm9uZSI+CiAgICAgIDxwYXRoIHN0cm9rZS13aWR0aD0iMTAiIGQ9Ik0yMCA2NCBMMTA4IDY0IiAvPgogICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEwIiBkPSJNNDAgNDQgTDIwIDY0IEw0MCA4NCIgLz4KICAgICAgPHBhdGggc3Ryb2tlLXdpZHRoPSIxMCIgZD0iTTg4IDQ0IEwxMDggNjQgTDg4IDg0IiAvPgogICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEwIiBkPSJNNSAyMCBMNSAxMDgiIC8+CiAgICAgIDxwYXRoIHN0cm9rZS13aWR0aD0iMTAiIGQ9Ik0xMjMgMjAgTDEyMyAxMDgiIC8+CiAgICA8L3N2Zz4KICA=);
}

.icon-zoom {
  width: 2.5em;
  height: 1.2em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(8%) sepia(1%) saturate(2805%) hue-rotate(317deg) brightness(104%) contrast(89%);
}

.auto-zoom .main-menu .icon-zoom {
  filter: invert(34%) sepia(85%) saturate(1697%) hue-rotate(199deg) brightness(94%) contrast(93%);
}

.main-menu.checked-include-url .icon-url {
  color: $common-marker;
}

// History date collapse mode

.auto-zoom:not(.disable-zoom-history) {
  .collapse-history-date {
    display: none;
  }

  .zoom-pane .collapse-history-date {
    display: flex;
    margin-left: auto;
  }

  .zoom-fade-out .collapse-history-date {
    display: none;
  }
}

.auto-zoom {

  .icon-calendar-plus-solid,
  .icon-calendar-minus-solid {
    display: none;
  }
}

.date-collapsed {
  .icon-calendar-plus-solid {
    display: inline-block;
  }

  .icon-calendar-minus-solid {
    display: none;
  }
}

body:not(.date-collapsed) {
  .icon-calendar-plus-solid {
    display: none;
  }

  .icon-calendar-minus-solid {
    display: inline-block;
  }
}

.zoom-center .zoom-pane {

  .icon-calendar-plus-solid,
  .icon-calendar-minus-solid {
    display: none;
  }
}

// Modal popup

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.show-modal {
  pointer-events: none;

  .modal {
    display: flex;
  }
}

.popup {
  pointer-events: all;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 5px;

  .popup-desc {
    padding: 0.5em 0;
  }

  .footer {
    display: flex;
    gap: 5px;
    margin: 0.5em 0;
    justify-content: end;
  }

  input {
    width: 200px;
    outline: none;
  }
}

// resource-components

.components {
  display: none;
}

.bold-separator {
  margin: 0 1px;
}
