$hover-color: #e8e8e9;
$drag-source-bgcolor0: rgb(232, 240, 254);
$drag-source-bgcolor: #cce5ff;
$drop-folder-bgcolor0: #d1ecf1;
$drop-folder-bgcolor: #cce5ff;
$hilite-bgcolor: #feefc3;
$draggable-bgcolor: rgba(0, 123, 255, .7);
$drop-border: #1A73E8;
$pane-radius: 5px;

@import 'glyphs';

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes hilite-fade-out {
  from {
    background-color: $hilite-bgcolor;
    color: initial;
  }
  to { background-color: transparent; }
}

@keyframes hilite-fade-in {
  from { background-color: transparent; }
  to { background-color: $hilite-bgcolor; }
}

// body/other

body {
  margin: 0;
  margin-right: 0;
  font-size: 0.9em;
}

main {
  position: relative;
  display: grid;
  grid-template-columns: min-content min-content min-content min-content min-content min-content min-content auto;
  grid-template-rows: min-content minmax(0, 100%);
  height: 100%;
  transition: all 0.15s;
}

button {
  outline: none;
  background-color: transparent;
  border-radius: 3px;

  > i {
    color: rgba(0, 0, 0, .4);
  }

  &:hover > i,
  &:focus > i {
    color: rgba(0, 0, 0, .5);
  }
  
  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, .1);
  }

  &:active {
    background-color: rgba(0, 0, 0, .2);
  }

}

.resize-x,
.split-h {
  height: 100%;
  grid-row-start: span 2;
}

.split-h {
  width: 4px;
}

.resize-x {
  cursor: w-resize;
  width: 4px;
}

.resize-y {
  cursor: s-resize;
  height: 4px;
}

.remove-hilite {
  animation-name: hilite-fade-in !important;
  animation-duration: .3s !important;
  animation-timing-function: ease-out;
}

// Leaf menu

.leaf-menu-button,
.folder-menu-button {
  display: none;
  z-index: 1;
  margin-left: auto;
  margin-right: 1px;
  width: 18px;
  height: 20px;
  justify-content: center;
  align-items: center;
  border: 0;
  transition: .4s;
  font-size: 1.2em;

  > .icon-fa-ellipsis-v {
    pointer-events: none;
  }

  &:focus {
    pointer-events: none;
  }

  &:active {
    pointer-events: all;
  }

}

// Search

.form-query {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 1px;
  padding-bottom: 2px;
  transition: width 0.1s;
  .icon-x {
    margin-left: -1.1em;
    font-size: 1.4em;
    visibility: hidden;
    cursor: pointer;
  }
}

button[type='submit'] {
  position: absolute;
  background-color: transparent;
  border: 0;
  outline: 0;
  display: flex;
  margin-left: 2px;
}

input.query {
  display: inline-block;
  width: 100%;
  padding: 4px;
  padding-left: 28px;
  padding-right: 24px;
  background: rgba(0, 0, 0, .1);
  border: 0;
  outline: none;
  font-size: 1.0em;
  border-radius: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.split-h {
  cursor: col-resize;
}

.menu-button {
  position: relative;
  margin: 0 3px;
}

.pin-bookmark {
  margin-left: 5px;
}

.main-menu-button,
.pin-bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 20px;
  border: 0;
  transition: background-color .4s;
  font-size: 1.2em;

  &:focus {
    pointer-events: none;
    + .main-menu {
      display: block;
      animation: fade-in 0.15s ease-in-out;
    }
  }

  > .icon-fa-ellipsis-v {
    pointer-events: none;
  }

  &:active {
    pointer-events: all;
  }
}

.query {
  &[data-searching] ~ .icon-x {
    visibility: inherit;
  }
  &[data-searching] {
    background-color: #cce5ff;
    + button {
      cursor: pointer;
    }
  }
}

[role="menu"] {
  display: none;
  position: absolute;
  z-index: 3;
  margin: 0;
  padding: 6px 0;
  width: fit-content;
  top: 100%;
  right: 0;
  background-color: #fff;
  border-width: 0;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
  border-radius: 4px;
  transition: opacity .218s;
  border: 1px solid rgba(0,0,0,.2);
  outline: none;
  cursor: default;

  > div {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    letter-spacing: .01428571em;
    font-family: Roboto,Arial,sans-serif;
    font-size: .875em;
    font-weight: 400;
    line-height: 1.25rem;
    padding: 2px 12px 2px 0;
    color: #333;
    list-style: none;
    margin: 0;
    white-space: nowrap;
  }

  > hr {
    background-color: rgba(0, 0, 0, 0.11);
    border-width: 0;
    height: 1px;
    margin: 7px 0;
  }

  > div:hover {
    background-color: $hover-color;
  }

  .searched-menu {
    display: none;
  }
  
}

[role="menuitem"] > i {
  width: 2.5em;
  text-align: center;
}

[role=menuitem] > .icon-fa-star-o {
  font-size: 1.2em;
  width: 2em;
}

// Leafs pane

.leafs {
  padding: 2px;
  overflow-y: auto;
  border-radius: $pane-radius;
  transition: width 0.1s;

  .leaf-menu-button:focus + .leaf-menu {
    position: fixed;
    display: block;
    top: calc(100% - 2px);
    animation: fade-in 0.15s ease-in-out;
  }

  .leaf-menu-button.menu-pos-top + .leaf-menu {
    bottom: calc(100% - 2px);
    top: auto;
  }

  > .marker,
  > .folder > .marker,
  .folder > .leaf,
  .folder > .marker,
  .folder.search-path > .folder,
  .folder.search-path > .leaf,
  .button-wrapper {
    display: none;
  }

  .folder.open {
    padding-bottom: 4px;
  }

  > .folder {
    padding: 0;
  }
  
  > .folder.search-path[id='1'] > .marker {
    display: none !important;
  }
  
  > .folder.search-path[id='1'] > .folder {
    padding-inline-start: 0;
    margin-left: 0;
  }
  
  .folder.search-path.path > .marker > .title::before {
    content: '\f07c';
  }
    
  .folder.search-path.path > .leaf.search-path,
  .folder.open > .leaf {
    display: flex;
    animation: fade-in 0.15s ease-in-out;
  }
  
  .search-path > .leaf-menu > .searched-menu {
    display: block;
  }

  .search-path .marker {
    -webkit-user-drag: none;
  }
  .folder[id="1"] > .search-path > .anchor {
    margin-left: 0;
  }

}

// Bookmarks

.leaf {
  position: relative;
  display: flex;
  margin: 0;
  align-items: center;

  &.hilite {
    animation-name: hilite-fade-out !important;
    animation-duration: 1.5s !important;
  }

  .anchor {
    width: 100%;
    margin-left: 2px;
    padding: 4px 0 4px 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-repeat: no-repeat;
    background-position: 1px center;
  }

  .anchor:not(:hover) {
    // color: #222;
    text-decoration: none;
  }

  &:hover {
    background-color: $hover-color;
  }
  
  &:hover > button {
    display: flex;
  }
  
  &.search-path > .anchor {
    margin-left: 30px;
  }

}

// Folders pane

.folders {
  padding: 4px 2px 0 0;
  overflow-y: auto;
  overflow-x: hidden;

  .leaf-menu-button:focus + .leaf-menu {
    display: block;
    position: fixed;
    animation: fade-in 0.15s ease-in-out;
  }
    
  .folder .folder {
    display: none;
  }

  .open > .marker {

    > .title {
      border-radius: 3px;

      &::before {
        color: white;
        content: '\f07c';
      }
    }
  }
  
  .marker {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 200%;
      height: 100%;
      right: 0;
    }
    
    &:hover {
      &::before {
        background-color: $hover-color;
      }
      > .button-wrapper {
        display: flex;
        margin-left: auto;
        margin-right: 0;
        pointer-events: all;
        z-index: 2;
        > button {
          display: flex;
        }
      }
      > .icon-fa-angle-right {
        z-index: 2;
      }  
    }

    > .title {
      z-index: 1;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    > .button-wrapper {
      display: none;
    }

    .folder-menu-button:focus + .folder-menu {
      display: block;
      position: fixed;
      animation: fade-in 0.15s ease-in-out;
    }

    &.hilite::before {
      animation-name: hilite-fade-out !important;
      animation-duration: 1.5s !important;
    }
  
    &.remove-hilite::before {
      animation-name: hilite-fade-in !important;
      animation-duration: .3s !important;
      animation-timing-function: ease-out;
    }

  }
}

// Leafs, Folders

.leafs .folder .folder.search-path,
.folders .folder .folder {
  padding-inline-start: 12px;
}

.leafs .folder.search-path > .marker,
.folders .marker {
  display: flex;
  align-items: center;
  padding: 2px 0 2px 2px;
}

.leafs .folder.search-path.path > .folder,
.folders .folder.path > .folder {
  display: block;
}

.leafs .folder.path > .marker > .icon-fa-angle-right,
.folders .path > .marker > .icon-fa-angle-right {
  transform: rotate(90deg);
}

.icon-fa-angle-right {
  padding: 0 4px;
  transition: .1s;
  cursor: pointer;
}

[data-children='0'] .icon-fa-angle-right {
  visibility: hidden;
  pointer-events: none;
}

.title {
  padding: 3px;
  padding-right: 4px;
  white-space: nowrap;
  // cursor: pointer;
  display: flex;
  overflow: hidden;
  align-items: center;

  > span {
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
  }

  &::before {
    content: '\f07b';
    display: inline-block;
    font-family: 'glyphs';
    font-size: inherit;
    text-rendering: auto;
    margin-left: 1px;
    margin-right: 4px;
    color: rgba(0, 0, 0, .5);
    width: 1.0em;
  }

}

// Scroll bar

.folders::-webkit-scrollbar,
.leafs::-webkit-scrollbar,
.pane-tabs::-webkit-scrollbar,
.v-scroll-bar::-webkit-scrollbar {
  width: 8px;
}

main::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, .4);
}

// Drag & Drop

.drop-top.drag-enter::before,
.drop-folder.drag-enter::before,
.drop-bottom.drag-enter::before {
  content: '';
  position: absolute;
}

.drag-start-leaf .leaf,
.drag-start-leaf .tab-wrap,
.drag-start-leaf .folders > .folder > .marker,
.drag-start-folder .leaf,
.drag-start-folder .marker {
  > .drop-top.drag-enter::after,
  > .drop-bottom.drag-enter::after {
    content: '';
    position: absolute;
    width: 10px;
    border-left: 7px solid $drop-border;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }
}

.drag-start-leaf,
.drag-start-folder .folders {
  .leaf:not(.search-path),
  .tab-wrap:not(.match):not(.unmatch) {
    > .drop-top,
    > .drop-bottom {
      position: absolute;
      width: calc(100% - 5px);
    }
    > .drop-top {
      z-index: 2;
      top: calc(-50% - 2px);
      height: calc(100% + 2px);
      &.drag-enter::before {
        top: 50%;
        width: 100%;
        border-top: 2px solid $drop-border;
      }
    }
    > .drop-bottom {
      z-index: 1;
      top: 50%;
      height: calc(100% - 3px);
      &.drag-enter::before {
        top: 50%;
        width: 100%;
        border-top: 2px solid $drop-border;
      }
    }
    > .drop-top.drag-enter::after,
    > .drop-bottom.drag-enter::after {
      top: calc(50% - 4px);
      left: -1px;
    }
  }
  .tab-wrap {
    > .drop-top {
      left: 1px;
    }
  }
}

.drag-start-leaf,
.drag-start-folder {
  .title {
    pointer-events: none;
  }
  .folders {
    .leaf > .drop-top.drag-enter::after,
    .leaf > .drop-bottom.drag-enter::after {
      left: 0;
    }
    > .leaf + .folder > .marker > .drop-top {
      top: calc(-50% - 2px);
      height: 70%;
      &.drag-enter::before {
        top: calc(50% + 4px);
      }
      &.drag-enter::after {
        top: 50%;
      }
    }
    > .folder + .leaf > .drop-top {
      top: calc(-20% - 2px);
      height: 70%;
      &.drag-enter::before {
        top: 20%;
      }
      &.drag-enter::after {
        top: calc(50% - 9px);
      }
    }
    .marker > .drop-folder {
      position: absolute;
      z-index: 1;
      height: 100%;
      &.drag-enter {
        background-color: $drop-folder-bgcolor;
      }
    }
  }
  .folders > #\32 .folder > .marker,
  .folders > #\33 .folder > .marker {
    > .drop-top,
    > .drop-bottom {
      width: 0;
      height: 0;
    }
    > .drop-folder {
      height: 100%;
    }
  }
}

.drag-start-leaf .folders > .folder .folder > .marker > .drop-folder {
  position: absolute;
  left: -2px;
  width: calc(100% - 3px);
}

.drag-start-leaf .folders > .folder > .marker,
.drag-start-folder .marker {
  > .drop-top,
  > .drop-bottom,
  > .drop-folder {
    position: absolute;
    // left: -2px;
    width: calc(100% - 3px);
  }
  > .drop-top {
    z-index: 2;
    top: calc(-20% - 2px);
    height: 40%;
    &.drag-enter::before {
      top: 50%;
      width: 100%;
      border-top: 2px solid $drop-border;
    }
    &.drag-enter::after {
      top: calc(50% - 4px);
    }
  }
  > .drop-bottom {
    z-index: 1;
    top: 80%;
    height: 20%;
    &.drag-enter {
      border-bottom: 2px solid $drop-border;
    }
    &.drag-enter::after {
      top: 0.5px;
    }
  }
}

.drag-start-leaf {
  .drag-source {
    background-color: $drag-source-bgcolor !important;
    > .anchor,
    > .tab,
    &.history {
      color: #222;
      text-decoration: none;
      z-index: 3;
    }
    + .folder > .marker > .drop-top,
    &.tab-wrap > .drop-top,
    &.tab-wrap > .drop-bottom {
      z-index: 0;
      width: 0;
      height: 0;
    }
  }
  :not(.drag-source) {
    > .anchor,
    > .tab {
      pointer-events: none;
    }
  }
}

.drag-start-folder {
  .marker.drag-source {
    z-index: 3;
    &::before {
      background-color: $drag-source-bgcolor;
    }
    > .title {
      outline: none;
    }
    ~ * {
      pointer-events: none;
    }
  }
  .marker:not(.drag-source)::before {
    background-color: transparent;
  }
  .folder.path:not([data-children="0"]) + .folder > .marker > .drop-top {
    top: -2px;
    height: 20%;
    &::before {
      top: 0;
    }
    &::after {
      top: -4px;
    }
  }
}

// draggable clone

.draggable-clone {
  position: relative;
  top: -1000px;
  min-width: 100px;
  max-width: 200px;
  width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;
  color: white !important; 
  background-color: $draggable-bgcolor;
  > div {
    padding-right: 8px !important;
    background-color: $draggable-bgcolor;
    > .icon-fa-angle-right {
      display: none;
    }
    > .anchor {
      padding-left: 22px;
      background-position: 3px center;
    }
    &.search-path > .anchor {
      margin-left: 12px;
    }
    > .icon-x {
      display: none;
    }
  }
}

// History
.pane-history {
  grid-column: 2 / 3;
  position: relative;
  border-radius: $pane-radius;
  transition: width 0.1s;
  .rows {
    padding-top: 2px;
    padding-bottom: 2px;
    > .history:not(.header-date):hover {
      background-color: $hover-color;
    }
    > div:empty {
      display: none;
    }
    .current-date {
      position: absolute;
      width: -webkit-fill-available;
      z-index: 1;
    }
    .header-date {
      display: flex;
      margin: 2px;
      padding: 2px 0;
      justify-content: center;
      align-items: center;
      background-color: white;
      background-color: darkgray;
      color: white;
      border-radius: 2px;
      -webkit-user-drag: none;
    }
    > .header-date:nth-child(2) {
      margin-top: 0;
    }
  }
}

.history {
  position: relative;
  display: flex;
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;  
  margin: 0 2px;
  padding: 4px 0;
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: 1px center;
  > span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &.hilite {
    animation-name: hilite-fade-out !important;
    animation-duration: 1.0s !important;
  }
}

.pane-tabs {
  grid-column: 4 / 5;
  position: relative;
  overflow-y: auto;
  transition: width 0.1s;
  > div {
    overflow: hidden;
    border-radius: $pane-radius;
    border: 2px solid #222;
    margin-right: 2px;
    margin-bottom: 5px;
    padding: 1px;
    &:last-child {
      margin-bottom: 0;
    }
    > .tab-wrap:not(.current-tab):hover {
      background-color: $hover-color;
    }
    > .match {
      display: flex !important;
    }
    > .unmatch {
      display: none;
    }
  }
  > .empty {
    padding: 0;
  }
}

.tab-wrap {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
    > .tab {
    width: 100%;
    margin: 0;
    padding: 4px 0 4px 21px;
    background-repeat: no-repeat;
    background-position: 2px center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;  
    cursor: default;
  }
  &.remove-hilite::before {
    animation-name: hilite-fade-in !important;
    animation-duration: .3s !important;
    animation-timing-function: ease-out;
  }
}

.pane-tabs,
.pane-history {
  .icon-x {
    margin-left: auto;
    margin-right: 2px;
    font-size: 1.3em;
    color: #222;
    background-color: transparent;
    transition: background-color .3s;
    display: none;
    &:hover::before {
      background-color: red;
      color: white;
    }
  }
}

.current-tab {
  border-radius: 3px;
}

.v-scroll {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.v-scroll .rows {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.v-scroll-bar {
  overflow-y: scroll;
}

.scroll-filler {
  width: 1px;
}

.pane-title {
  display: flex;
  align-items: center;
  padding-left: 3px;
  transition: width 0.1s;
  > .tabs {
    display: flex;
    margin-left: 0.25rem;
    :nth-child(1) {
      border: 1.5px solid #999999;
      border-radius: 3px;
      border-left: 0;
      border-bottom: 0;
      background-color: #999999;
      width: 18px;
      height: 8px;
      transform: translate(11px, 2px);
    }
    :nth-child(2) {
      border: 1.5px solid #222222;
      border-bottom: 0;
      border-radius: 3px;
      background-color: #EFEFEF;
      width: 15px;
      height: 10px;
      transform: translate(-23px, 1px);
    }
    :nth-child(3) {
      border-top: 1.5px solid #222222;
      width: 38px;
      height: 8px;
      transform: translate(-43px, 10px);
    }
  }
  .icon-bookmarks {
    color: #222222;
    transform: scale(1.2,1);
  }
  > [title="History"] {
    color: #222222;
  }
  > i {
    transition: all 0.15s;
  }
}

// Zoom

.auto-zoom {
  .split-h,
  .resize-x,
  .resize-y {
    cursor: default;
  }
}

.shade-left,
.shade-right {
  transition: all 0.15s;
}

.zoom-pane {
  .shade-left,
  .shade-right {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 30%);
    border-radius: 3px;
    z-index: 2;
  }
  &.zoom-fade-out {
    .shade-left,
    .shade-right {
      background-color: rgba(0, 0, 0, 0);
    }
  }
  > .pane-history::after {
    content: '';
    width: 20px;
    height: calc(100% + 20px);
    position: absolute;
    top: -20px;
    right: -20px;
    z-index: 3;
  }
  .zoom-out {
    display: block;
  }
}

.zoom-out {
  display: none;
  position: fixed;
  z-index: 2;
  top: calc(50% - 1em);
  color: #efefef;
  &.icon-clock-rotate-left-solid {
    font-size: 1.2em;
  }
  &.zoom-out.icon-fa-angle-right {
    right: 5px;
    font-size: 2em;
  }
}

.pane-title .form-query {
  margin-left: auto;
  margin-right: 10px;
  transition: width 0.1s;
  .pin-bookmark,
  .menu-button {
    display: none;
  }
}

.main-menu .icon-arrows-left-right-solid {
  position: relative;
}

.main-menu .icon-arrows-left-right-solid::after {
  content: '';
  border: 1px solid #333;
  position: absolute;
  top: -0.1em;
  left: 0.57em;
  width: 1.2em;
  height: 100%;
  border-radius: 2px;
}

.main-menu [data-value="auto-zoom"] > .icon-check-solid {
  display: none;
  font-weight: bold;
  pointer-events: none;
}

.zoom-icon {
  stroke: #222222;
  width: 2.5em;
  height: 1.2em;
}

.auto-zoom .main-menu {
  > [data-value="auto-zoom"] {
    color: #1A73E8;
    > .icon-arrows-left-right-solid::after {
      border-color: #1A73E8;
    }
    > .icon-check-solid {
      display: inline-block;
      left: -0.3em;
      position: absolute;
    }
  }
  > div {
    padding-left: 1.6em;
  }
  .zoom-icon {
    stroke: #1A73E8;
  }
}
