// Tabs

open-window,
open-tab {
  display: block;
}

.tabs {
  overflow-y: auto;
  transition: var(--xen-mode-transition);

  >.tabs-wrap {
    margin-right: 2px;
  }

  open-window {
    overflow: hidden;
    border-radius: $pane-radius;
    border: 2px solid transparent;
    margin-bottom: 5px;
    padding: 1px;
    padding-bottom: 2px;
    transition: border 0.1s;

    &:last-child {
      margin-bottom: 0;
    }

    >.match {
      display: flex !important;
    }

    >.unmatch {
      display: none;
    }
  }

  >.empty {
    padding: 0;
  }

  .tab-wrap:hover>.icon-x {
    display: var(--show-close-tab, none);
  }
}

.pane-body.end.tabs {
  margin-right: 1px;
}

.pane-header.header-tabs {

  .icon-tabs {
    +.win-prev {
      margin-left: auto;
    }

    +.collapse-tabs {
      margin-left: auto;
    }

    +.query-wrap {
      margin-left: auto;
    }
  }

  &.end {
    .collapse-tabs {
      +.query-wrap {
        margin-left: 0;
      }
    }
  }

  button {
    display: flex;
    margin-top: 1px;

    >i {
      cursor: default;
    }
  }

  .win-prev,
  .win-next {
    margin-right: 5px;
  }

  .collapse-tabs {
    margin-right: 10px;
  }

  &.tabs-collapsed-all {
    .collapse-tabs {
      >.icon-list {
        display: block;
      }

      >.icon-grid {
        display: none;
      }
    }
  }

  &:not(.tabs-collapsed-all) {
    .collapse-tabs {
      >.icon-list {
        display: none;
      }

      >.icon-grid {
        display: block;
      }
    }
  }
}

// Tabs collapse

.icon-grid {
  transform: scale(0.8);

  &::after {
    content: '';
    width: 140%;
    height: 140%;
    position: absolute;
    left: -20%;
    top: -20%;
  }
}

.tab-wrap[data-initial]::before {
  content: attr(data-initial);
  font-size: 13.5px;
  width: 18px;
  height: 18px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-transform: capitalize;
  color: $dark-font-color;
  background-color: gray;
  border: 1px solid $dark-font-color;
  border-radius: 50%;
  line-height: 1;
}

.tab-wrap[data-file]::before {
  width: 16px;
  margin-left: 6px;
  border-radius: 1px;
  border-top-right-radius: 6px;
}

.tabs {
  position: relative;
  overflow-y: scroll;

  button {
    display: flex;
  }

  .tabs-menu-button:focus {

    +.tabs-menu {
      display: block;
      position: fixed;
      animation: fade-in 0.15s ease-in-out;

      i {
        pointer-events: none;
      }

      [data-value="close-window"]:hover>i {
        color: red;
      }
    }
  }

  .collapse-tab {
    margin-left: auto;
    margin-right: 2px;

    >.icon-list {
      display: none;
    }

    >.icon-grid {
      display: block;
    }
  }

  .tabs-collapsed {
    .collapse-tab {
      >.icon-list {
        display: block;
      }

      >.icon-grid {
        display: none;
      }
    }
  }
}

window-header {
  background-position-x: 3px;
  background-color: rgba(0, 0, 0, 0.4);
  color: $dark-font-color;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 2px;
  transition: background-color 0.1s;

  >div {
    opacity: 1;
    transition: opacity 0.15s;
  }

  .icon-incognito.show+.tab {
    margin-left: 2px;
    text-indent: 0;
  }

  .icon-incognito {
    margin-left: 2px;
    color: $font-color;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 3px 2px;
    border-radius: 5px;
    display: none;
    &.show {
      display: block;
    }
  }
}

main {

  &.searching {
    window-header {
      display: none;
    }
  }

  .tab {
    visibility: inherit;
    transition: visibility 0.15s;
  }

  open-tab {
    display: inline-flex;
    width: 100%;
    float: left;
    overflow: visible;
    transition: width 0.15s;
  }

  &:not(.searching) {

    open-window {
      &.tabs-collapsed {
        padding-bottom: 0;

        .icon-incognito {
          margin-left: 22px;
        }

        >.tab-wrap {
          width: 26px;
          height: 26px;
          margin: 2px;
          padding-left: 0;
          background-position-x: 5px;
          border: 2px solid transparent;
          border-radius: 4px;

          >.tab {
            visibility: hidden;
          }

          &:hover {
            >i {
              display: none;
            }
          }
        }
      }

      &:not(.tabs-collapsed) {
        >window-header {
          >.tab {
            opacity: 0;
          }

          background-image: none !important;
        }
      }
    }
  }

  // Tooltip

  .tab-wrap {
    >.tooltip {
      display: none;
      font-size: 0.9em;
      line-height: 1.8em;
      background-color: #FFFFFF;
      color: $font-color;
      box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px 1px;

      &:first-line {
        font-size: 1.1em;
        font-weight: 600;
      }
    }
  }

  &:not(.searching):not(.drag-start-leaf):not(.drag-start-folder) .tabs-collapsed {

    .tab-wrap:not(.drag-source) {
      >.tooltip {
        pointer-events: none;
        position: fixed;
        z-index: 3;
        padding: 4px 8px;
        border-radius: 4px;
        white-space: pre;
        max-width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:hover {
        >.tooltip {
          display: block;
          animation: 0.15s ease-in-out 0s 1 normal none running fade-in;
        }
      }
    }
  }
}

.drag-start-leaf,
.drag-start-folder {
  .tabs-collapsed window-header:not(.drag-source)~open-tab:not(.match):not(.unmatch) {

    >.drop-top,
    >.drop-bottom {
      top: 0;
      height: 100%;

      &.drag-enter::before {
        top: -2px;
        height: calc(100% + 4px);
        border-top: none;
        border-color: #1A73E8;
        border-left-width: 4px;
        border-left-style: solid;
      }
    }

    >.drop-top {
      left: calc(-50% - 11px);
      width: calc(100% + 11px);

      &.drag-enter::before {
        left: 50%;
      }
    }

    >.drop-bottom {
      left: 50%;
      width: calc(100% + 8px);

      &.drag-enter::before {
        // left: calc(50% - 1px);
        left: 16px;
      }
    }

    >.drop-top.drag-enter::after,
    >.drop-bottom.drag-enter::after {
      content: '';
      display: none;
    }

    &:last-child>.drop-bottom {
      width: 1000px;
    }
  }
}

.draggable-clone window-header {
  background-position-x: 24px;
  padding-left: 22px;
  max-width: 160px;

  &::before {
    content: '\e90f';
    left: 5px;
    position: absolute;
    font-family: glyphs;
    color: $dark-font-color;
  }

  .icon-incognito {
    margin-left: 24px;

    +.tab {
      text-indent: 2px;
    }
  }
}

.current-tab::after {
  content: '';
  position: absolute;
  border-radius: 1px;
}

.current-window {
  window-header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
  }
}

.searching,
.window:not(.tabs-collapsed) {
  .tab-wrap {
    background-position-x: 7px;

    .tab {
      text-indent: 25px;
    }

    &.current-tab::after {
      width: 4px;
      height: 100%;
    }
  }
}

main:not(.searching) .tabs-collapsed {
  .current-tab::after {
    width: 100%;
    height: 4px;
    bottom: -4px;
  }

  .tab-wrap[data-initial]::before {
    margin-left: 3px;
  }

  .tab-wrap[data-file]::before {
    margin-left: 4px;
  }
}