main {
  width: 800px;
  margin: 8px 15px 15px 15px;
  background: white;
  padding-right: 15px;
  margin-top: 60px;
}

header {
  position: fixed;
  width: 800px;
  height: 45px;
  top: 15px;
  background: linear-gradient(white, rgba(255, 255, 255, 0.8));
}

.version {
  font-size: 0.8em;
  font-weight: normal;
}

article {
  padding: 5px 20px 30px 20px;
  background-color: #F6F6F6;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.heading {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #CCC;
  font-weight: bold;
  display: none;
}

form label > [type='checkbox'] {
  margin-right: 3px;
}

.item {
  display: flex;
  align-items: baseline;
  margin-top: 0.8rem;
}

[name='external-url'] {
  grid-column-start: span 2;
}

[name='enable-external-url']:checked {
  ~ [name='external-url'] {
    &:placeholder-shown,
    &:invalid {
      outline: 1px solid red !important;
      border-color: red;
      box-shadow: none;
    }
  }
}

.grid-columns-2 {
  grid-template-columns: max-content max-content;
}
